################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CommandParser/app.secrets.config
/CommandParser/bin/Debug/*.*
/CommandParser/obj/Debug/*.*